* {
  margin: 0;
  padding: 0;
}

.row {
  line-height: 0;
}
.block {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.wall {
  background-color: blue;
}

.blank {
  background-color: black;
}

.sushi {
  background-color: black;
  background-image: url("img/sushi.png");
  background-size: contain;
}
.onigiri {
  background-color: black;
  background-image: url("img/onigiri.png");
  background-size: contain;
}
#ninjaman {
  background-color: black;
  background-image: url("img/ninja.gif");
  background-size: contain;
  position: absolute;
}
.ghost {
  width: 37px;
  height: 37px;
  display: inline-block;
  background-size: contain;
  position: absolute;
}

.ghost:nth-child(1) {
  background-image: url("img/bluey.gif");
}

.ghost:nth-child(2) {
  background-image: url("img/pinky.gif");
}

.ghost:nth-child(3) {
  background-image: url("img/pumpky.gif");
}

.ghost:nth-child(4) {
  background-image: url("img/red.gif");
}

.ghost:nth-child(5) {
  background-image: url("img/scaredy.png");
}
#menu {
  width: 200px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.print {
  font-size: 36px;
  width: 100%; /*160px*/
  text-align: center;
  height: 40px;
  line-height: 40px;
  vertical-align: top;
  display: inline-block;
  background-color: pink;
  opacity: 0.5;
}

.boom {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url("img/starRed.png");
  background-size: contain;
  position: absolute;
  right: 80px;
  top: 40px;
}

#fireworks {
  width: 400px;
  height: 400px;
  display: none;
  background-image: url("img/fireworks_green.gif");
  background-size: cover;
  position: absolute;
  top: center;
  left: center;
}
